

     p img{
    height: 80px;
}
.v{
        display:inline-block;

}
.v1{
    display:inline-block;
    float: right;

     color: orange;
    padding-right: 50px;
    margin-top: ;
    
}
.v2{
        display:inline-block;
   float:right;
       color:white;
  padding-right:350px;
  
    
}
.nav{
     background-color: #2b3c9c;
}
p{
      font-family: 'Source Sans Pro', sans-serif;
    font-weight:bolder;
    
}
r img{
    width : 1264px;
}
P1{
    border: 2px solid orange;
    border-radius: 37px;
    text-align: center;
   padding-bottom: 18px;
    padding-top:12px;
    padding-left: 30px;
    padding-right: 22px;
    background-color:orange;
     font-family: 'Cantarell', sans-serif;
    
}
.q{
     padding-left: 865px;
}
p1:hover{
    background-color:floralwhite;
     border: 2px solid white;
}

p2{
     border: 2px solid     background-color: lightgray;
    font-family: 'Cantarell', sans-serif;

    border-radius: 37px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 7px;
    background-color: lightgray;
}
.w{
    padding-left: 865px;
    padding-top: 60;
}
p2:hover{
    background-color: aliceblue;
     border: 2px solid white;
    
}
.vig{
    margin-top: -215px
}

.oi{
    color:blue;
    padding-left: 810px;
}
.hh{
    color:aqua;
    display: inline-block;
    
}

i{
    color:brown;
}
i:hover{
    color:hotpink;
}
.tt{
    color:aqua;
    display: inline-block;
    padding-left: 35px;
     padding-right: 35px;
    padding-bottom: 40px; 
    border: 3px dotted black;
    border-bottom: transparent;
     border-top: transparent;
    margin-left: 10px;
}
.yy{
    color: aqua;
    display: inline-block;
    padding-left: 50px;
}
.ii{
    color:darkolivegreen;
    display: inline-block;
    padding-left: 40
}
n{
    color:black;
    font-size: 13
    
}
.jj{
       color:red;
    display: inline-block;
    padding-left: 30px
} 
c{
    color:black;
    font-size: 13
    
}
.mm{
padding-left:30px;
}
a1 img{
    padding-left: 150
}
a2{
    color: cornflowerblue;
    padding-left: 15;
}
a3{
    color: cornflowerblue;
}
a4{
    color: cornflowerblue;
}
j4{
    color:red;

    font-size: 15;
   
        
}
.ll
{
 background-color:lightgrey;
    padding-bottom: 10px;
    padding-left: 20px;
}
b9{
    color:white;
    font-size: 25px;
}
.oo{
  padding-bottom: 10px;
    padding-left: 28px;
}
b0{
    color:white;
    font-size: 28px;
}
b1{
    color:white;
    font-size: 28px;
   
}
.oo,.ss{
    display:inline-block;
    
}
.sst{
        display:inline-block;

}
.ss{
    padding-left: 300px;
}
.sst{
    padding-left: 300px;
}
.pp{
    background-color: darkblue;
    height: 60px;
    padding-bottom: 10px;
}
b9:hover{
    color: deeppink;
    font-size: 26px;
}
b0:hover{
    color: deeppink;
    font-size: 26px;
}b1:hover{
    color: deeppink;
    font-size: 26px;
}
.voig{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    background-color: 
}